%Nav-bar-btn {
  a {
    color: white;
    -webkit-transition: color 1s;
    -moz-transition:    color 1s;
    -ms-transition:     color 1s;
    -o-transition:      color 1s;
    transition:         color 0.5s;
    cursor: pointer;

    &:hover {
      color: rgb(83, 37, 220);
    }
  }
}