.header-comp {
  display: grid;
  grid-template-areas: "title options login";
  grid-template-columns: 25rem 1fr 20rem;
  grid-row: 1fr;
  width: 100%;

  &-title {
    grid-area: title;
    font-size: xx-large;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &-option-container {
    grid-area: options;
    
    div {
      margin-left: 1.5rem;
    }

    // nav bar
    @import './Nav/Nav';
  }

  &-login {
    grid-area: login;
    @import './Login/Login';
  }
}