.header-comp {
  display: grid;
  grid-template-areas: "title options login";
  grid-template-columns: 25rem 1fr 10rem;
  grid-row: 1fr;
  width: 100%;

  &-title {
    grid-area: title;
    font-size: xx-large;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &-option-container {
    grid-area: options;
    display: flex;
    
    div {
      margin: 2rem;
    }
  }

  &-login {
    grid-area: login;
  }
}